* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  font-family: "Montserrat", sans-serif;
  color: aliceblue;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #060d1b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #39496a;
  border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4f6490;
}

.container {
  padding: 2.4rem;
  display: flex;

  flex-direction: column;

  background-color: #0b1324;
  background-image: radial-gradient(
      at 7% 13%,
      hsl(206, 50%, 38%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(215.38, 47%, 33%) 0, transparent 55%);
}

main {
  display: flex;
}

.mainContainer {
  border-radius: 16px;

  backdrop-filter: blur(16px) saturate(180%);

  background-color: rgba(17, 25, 40, 0.75);

  border: 1px solid rgba(255, 255, 255, 0.125);
}

.left-content {
  padding: 100px;
}
.left-content img {
  width: 40vw;
}
.video {
  border-radius: 16px;
}

.right-content {
  padding: 80px;
}

.title {
  display: flex;
  width: calc(100vw - 50%);

  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.title h1 {
  font-size: 38px;
  text-transform: uppercase;
  margin-left: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #060d1b;
}

.icons {
  display: grid;
  grid-auto-flow: column;
  width: 600px;
}

.icon {
  font-weight: 600;
  text-transform: uppercase;

  border-radius: 999px;
  padding: 20px;
  align-content: center;
  text-align: center;

  margin-bottom: 10px;
  margin-left: 10px;

  border: 1px solid rgba(148, 152, 156, 0.2);
}

.icons a {
  text-decoration: none;
  color: aliceblue;
}

.linkVideo {
  margin-top: 30px;
  background-color: #0b1324;
  padding: 10px;
  border-radius: 10px;
}

.linkVideo a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}

.titlePage {
  font-size: 4rem;
  margin: 10px;

  background: -webkit-linear-gradient(
    120deg,
    rgb(153, 219, 208) 34%,
    rgb(103, 176, 213) 63%,
    rgb(80, 147, 202) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitlesPage {
  font-size: 2rem;
  margin: 10px;
  margin-left: -05px;

  background: -webkit-linear-gradient(
    120deg,
    rgb(153, 219, 208) 34%,
    rgb(103, 176, 213) 63%,
    rgb(80, 147, 202) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainTitlePage {
  font-size: 4rem;
  margin: 10px;

  text-align: center;

  background: -webkit-linear-gradient(
    120deg,
    rgb(153, 219, 208) 34%,
    rgb(103, 176, 213) 63%,
    rgb(80, 147, 202) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-top: 60px;
}

footer {
  background-color: #060d1b;
  color: aliceblue;
  text-align: center;
  padding: 10px;
}

nav {
  display: none;
  position: absolute;
  z-index: 99;
  background-color: rgba(8, 8, 28, 0.8);
  width: 400px;
  height: calc(100vh - 100px);
  top: 100px;
  right: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 5px;
  border: 1px solid rgba(148, 152, 156, 0.2);
  border-right: none;
  margin-top: 0;
}

nav ul li {
  border-bottom: 1px solid rgba(148, 152, 156, 0.2);
  padding: 10px;
}
nav ul li a {
  text-decoration: none;
  color: aliceblue;
}

.menu-opener {
  cursor: pointer;
}
