* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  font-family: "Montserrat", sans-serif;
  color: aliceblue;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #060d1b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #39496a;
  border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4f6490;
}

.container {
  padding: 2.4rem;
  display: flex;
  height: 100vh;

  flex-direction: column;

  background-color: #0b1324;
  background-image: radial-gradient(
      at 7% 13%,
      hsl(206, 50%, 38%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(215.38, 47%, 33%) 0, transparent 55%);
}

main {
  border-radius: 16px;

  backdrop-filter: blur(16px) saturate(180%);

  background-color: rgba(17, 25, 40, 0.75);

  border: 1px solid rgba(255, 255, 255, 0.125);

  display: flex;
}

.left-content {
  flex: 1;
  padding: 80px;
}
.video {
  border-radius: 16px;
}

.right-content {
  flex: 1;
  padding: 100px;
  color: aliceblue;
}

.title {
  display: flex;
  width: calc(100vw - 50%);

  align-items: center;
  justify-content: center;
  z-index: 9999;
  color: aliceblue;
  text-decoration: none;
}

.title h1 {
  font-size: 38px;
  text-transform: uppercase;
  margin-left: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #060d1b;
}

.icons {
  display: grid;
  grid-auto-flow: column;
  width: 600px;
}

.icon {
  font-weight: 600;
  text-transform: uppercase;

  border-radius: 999px;
  padding: 20px;
  align-content: center;
  text-align: center;

  margin-bottom: 10px;
  margin-left: 10px;

  border: 1px solid rgba(148, 152, 156, 0.2);
}

.icons a {
  text-decoration: none;
  color: aliceblue;
}

.linkVideo {
  margin-top: 30px;
  background-color: #0b1324;
  padding: 10px;
  border-radius: 10px;
}

.linkVideo a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}
